<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>A게시판</title>
    <div th:insert="~{fragments/header :: header}"></div>
</head>
<body>
<div class="container">
    <div>
        <table class="table table-striped">
            <tr>
                <th>제목</th>
                <td th:text="${article.title}"></td>
            </tr>
            <tr>
                <th>작성자</th>
                <td th:text="${article.userAccount}"></td>
            </tr>
            <tr>
                <th>내용</th>
            </tr>
            <td th:text="${article.content}"></td>
        </table>
    </div>

    <form th:action="@{/article/delete}" th:method="post">
        <input type="hidden" name="articleId" id ="articleId" th:value="${article.id()}">
    <button>삭제</button>
    </form>
</div> <!-- /container -->
</body>
</html>