<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>
    <div th:insert="~{fragments/header :: header}"></div>
</head>
<body>
<input type="hidden"
       th:name="${_csrf.parameterName}"
       th:value="${_csrf.token}" />
<div class="container">
    <div>
        <form method="post">
            <table class="table table-striped">
                <input type="hidden" th:value="${board}">
                <tr>
                    <th>제목</th>
                    <td><input type="text" name="title" id="title"></td>
                </tr>
                <tr>
                    <th>작성자</th>
                    <td><input type="hidden" name="username" id="username" th:value="${username}"><span th:text="${username}"></span></td>
                </tr>
                <tr>
                    <th>내용</th>
                </tr>
                <td>
                    <textarea name="content" id="content"></textarea>
                </td>
            </table>
            <button type="submit">작성하기</button>
        </form>
    </div>
</div> <!-- /container -->
</body>
</html>
